# Import Libraries

In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import numpy as np

# Read CSV File

In [52]:
df = pd.read_csv('../data/titles.csv')

# Data Describe

In [53]:
df.describe(include='all')

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
count,5850,5849,5850,5832,5850.000000,3231,5850.000000,5850,5850,2086.000000,5447,5368.000000,5.352000e+03,5759.000000,5539.000000
unique,5850,5778,2,5829,NaN,11,NaN,1726,452,NaN,5447,NaN,NaN,NaN,NaN
top,ts300399,Unknown,MOVIE,Five families struggle with the ups and downs ...,NaN,TV-MA,NaN,['comedy'],['US'],NaN,tt0075314,NaN,NaN,NaN,NaN
freq,1,21,3744,2,NaN,883,NaN,484,1959,NaN,1,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,2016.417094,NaN,76.888889,NaN,NaN,2.167785,NaN,6.510861,2.343938e+04,22.637925,6.829175
std,NaN,NaN,NaN,NaN,6.937726,NaN,39.002509,NaN,NaN,2.697123,NaN,1.163826,9.582047e+04,81.680263,1.170391
min,NaN,NaN,NaN,NaN,1945.000000,NaN,0.000000,NaN,NaN,1.000000,NaN,1.500000,5.000000e+00,0.009442,0.500000
25%,NaN,NaN,NaN,NaN,2016.000000,NaN,44.000000,NaN,NaN,1.000000,NaN,5.800000,5.167500e+02,2.728500,6.100000
50%,NaN,NaN,NaN,NaN,2018.000000,NaN,83.000000,NaN,NaN,1.000000,NaN,6.600000,2.233500e+03,6.821000,6.900000
75%,NaN,NaN,NaN,NaN,2020.000000,NaN,104.000000,NaN,NaN,2.000000,NaN,7.300000,9.494000e+03,16.590000,7.537500
max,NaN,NaN,NaN,NaN,2022.000000,NaN,240.000000,NaN,NaN,42.000000,NaN,9.600000,2.294231e+06,2274.044000,10.000000

# Tasks

1. Idenfity Missing Values
2. Fill Title with 'Unknown' and Description with 'No Description Available'
3. Drop rows where rating and release_year is missing
4. Add boolean column 'IsMovie' to identify if it is movie or show
5. Replace the shows having column 'season' value as NA with 1 
6. Save final dataframe as csv "titles_final.csv"

### 1. Idenfiy Missing Values

In [54]:
df.isna().sum()

id                         0
title                      1
type                       0
description               18
release_year               0
age_certification       2619
runtime                    0
genres                     0
production_countries       0
seasons                 3764
imdb_id                  403
imdb_score               482
imdb_votes               498
tmdb_popularity           91
tmdb_score               311
dtype: int64

### 2. Fill Title and Description with 'Unknown'

In [61]:
df.fillna({'title': 'Unknown', 'description': 'No Description Available'}, inplace=True)

### 3. Drop Rows where imdb_score and release_year is missing

In [62]:
df.dropna(subset=['imdb_score', 'release_year'], inplace=True)

### 4. Add boolean column 'IsMovie' to identify if it is movie or show

In [ ]:
df['IsMovie'] = np.where(df['type'] == 'MOVIE', True, False)

### 5. Replace the shows having column 'season' value as NA with 1

In [71]:
df['seasons'] = np.where((df['type'] == 'SHOW') & (df['seasons'].isna()), 1, df['seasons'])

### 6. Save final dataframe as csv "titles_final.csv"

In [ ]:
df.to_csv('../data/titles_final.csv', index=False)